.main {
    width: 1200px;
    margin: auto;
}

.left {
    width: 20%;
    float: left;
}

.right {
    width: 78%;
    float: right;
}

.clear {
    clear: both;
}

.chart {
    width: 300px;
    height: 330px;
    float: left;
}