.main {
    width: 1600px;
    margin: auto;
}

.left {
    width: 20%;
    float: left;
}

.right {
    width: 79%;
    float: right;
}

.clear {
    clear: both;
}

.chart img {
    /*width: 350px;*/
    float: left;
}