.main {
    width: 1700px;
    margin: auto;
}

.left {
    width: 15%;
    float: left;
}

.right {
    width: 84%;
    float: right;
}

.clear {
    clear: both;
}

.chart img {
    /*width: 350px;*/
    float: left;
}